{% extends "puzzle-r1.html" %}
{% load static %}
{% block html_class %}r1{% endblock %}

{% block dialogue %}
Ah, welcome.  Look... things can be a bit tough round here, but if you’re ever stuck, go and see The Fixer, they can help out  for a small favour.  You find them.....
{% endblock %}

{% block puzzle-body-html %}
<div style="max-width: 600px; margin: auto;">
    <p>You've never been allowed inside Crowe's tavern
        before.</p>
    <p>You find yourself drawn into watching an ongoing game
        of pool. </p>
    <p>First the purple striped ball is pocketed. Then yellow solid followed by
        red solid. Striped red, striped yellow, striped green. Solid Maroon...
    </p>
    <p>The game could go on all day, but you'd better get moving. It's your
        first day and you don't want to be found _______</p>
</div>

{% endblock %}
