{% extends "puzzle-r1.html" %}
{% load static %}
{% block html_class %}r1{% endblock %}

{% block dialogue %}
Kyle?  ... he got sent out to guard some temple last year and never returned.  Rumour has it he ran into some trouble with some boulders.  But shhh, its best not to ask too many questions round here.
{% endblock %}

{% block puzzle-body-html %}

<p>
  You find a shelf with some books which have seemingly long titles. You
  browse through the <b>indexes</b> and the <b>price tags</b>, only to find
  out none of them can be borrowed or purchased. Why so? You consider thinking
  out loud, but remember that you're in a library, so you may as well remain
  <b>silent</b>.
</p>

<img src="{% static 'grand_front/images/r1/puzzles/knowhow.png' %}" />

{% endblock %}
