{% extends "puzzle-r1.html" %}
{% load static %}
{% block html_class %}r1{% endblock %}

{% block dialogue %}
Another new recruit huh?  I hope you aren’t as clumsy as the last one.  Good riddance to him, I say.  Look, I don’t really need any help, just stay out of my way.
{% endblock %}

{% block puzzle-body-html %}

<style>
    .unorthodox-image {
        width: 30%;
        height: auto;
        margin: 1%;
    }
</style>


<img class="unorthodox-image" src="{% static 'grand_front/images/r1/puzzles/unorthodox/page1.gif' %}" />
<img class="unorthodox-image" src="{% static 'grand_front/images/r1/puzzles/unorthodox/page2.gif' %}" />
<img class="unorthodox-image" src="{% static 'grand_front/images/r1/puzzles/unorthodox/page3.gif' %}" />
<img class="unorthodox-image" src="{% static 'grand_front/images/r1/puzzles/unorthodox/page4.gif' %}" />
<img class="unorthodox-image" src="{% static 'grand_front/images/r1/puzzles/unorthodox/page5.gif' %}" />
<img class="unorthodox-image" src="{% static 'grand_front/images/r1/puzzles/unorthodox/page6.gif' %}" />
<img class="unorthodox-image" src="{% static 'grand_front/images/r1/puzzles/unorthodox/page7.gif' %}" />
<img class="unorthodox-image" src="{% static 'grand_front/images/r1/puzzles/unorthodox/page8.gif' %}" />
<img class="unorthodox-image" src="{% static 'grand_front/images/r1/puzzles/unorthodox/page9.gif' %}" />

{% endblock %}
