{% extends "puzzle.html" %}
{% load static %}
{% block html_class %}r1{% endblock %}

{% block puzzle-body-html %}

<div class="window">
    {% comment %} <div class="name">Flavor Text</div> {% endcomment %}
    <p class="flavortext">These business strategists charge big bucks for their big ideas. They certainly repeat their rubrics regularly to yield rewarding results. Easy as A, B, C? Well, maybe. I've tried to reproduce them below but I'm not sure I've remembered them correctly.</p>
</div>

<div class="window">
    <div class="name"></div>
    <p></p>
</div>

<a href="/round/the-front">
    <div class="endnote">The Front</div>
</a>

{% endblock %}
