{% extends "puzzle-r1.html" %}
{% load static %}
{% block html_class %}r1{% endblock %}

{% block dialogue %}
<br>
Beeeeep beeep boop bap
{% endblock %}

{% block puzzle-body-html %}

<style>
    h5 {
        margin-bottom: 0;
    }
</style>

<p>
    Everything <a href="https://nutrimatic.org/2024/">this robot</a> spits out is almost, but not quite, entirely unlike tea!<br>
    The good news is with these prepared recipes, you can expect the result you want in the top 5 results!<br>
    Once you've figured out what it's trying to serve you, you can try filling in your own requests -<br>
    We hear it's the only way you can get dessert!
</p>

<div>
    <h5> -- You've Seen These Before -- </h5>
    <a href="https://nutrimatic.org/2024/?q=%28nVCA%29%7B2%2C%7D&go=Go" target="_blank">(nVCA){2,}</a><br>
    <a href="https://nutrimatic.org/2024/?q=%28%5Bif%5D%3Fo%5Brn%5D%29%7B3%7D&go=Go" target="_blank">([if]?o[rn]){3}</a><br>
    <a href="https://nutrimatic.org/2024/?q=CV%28th%29%7B%2C2%7DV&go=Go" target="_blank">CV(th){,3}V</a>
    <br><br>
    <p>AA_____A_ ___AAA</p>

    <h5> -- Logical Choices --</h5>
    <a href="https://nutrimatic.org/2024/?q=t__%26__o%26_w_&go=Go" target="_blank">t__&__o&_w_</a><br>
    <a href="https://nutrimatic.org/2024/?q=%28n%7Ca%29%28i%7Cr%29%28o%7Cb%29%28i%7Cb%29%28e%7Cl%29%28i%7Ce%29%28f%7Cs%29&go=Go" target="_blank">(n|a)(i|r)(o|b)(i|b)(e|l)(i|e)(f|s)</a><br>
    <a href="https://nutrimatic.org/2024/?q=%28ma%7Crt%7Cin%29%26i_&go=Go" target="_blank">(ma|rt|in)&i_</a><br>
    <a href="https://nutrimatic.org/2024/?q=%28retAAAAA%7CAAAAAter%29&go=Go" target="_blank">(retAAAAA|AAAAAter)</a><br>
    <a href="https://nutrimatic.org/2024/?q=_*i_*e_*e_*%26_*n_*&go=Go" target="_blank">_*i_*e_*e_*&_*n_*</a>
    <br><br>
    <p>A__A __ __AA_</p>

    <h5> -- Mixing It Up -- </h5>
    <a href="https://nutrimatic.org/2024/?q=%3Cmanger%3E&go=Go" target="_blank">&lt;manger&gt;</a><br>
    <a href="https://nutrimatic.org/2024/?q=_%3Crod%3E&go=Go" target="_blank">_&lt;rod&gt;</a><br>
    <a href="https://nutrimatic.org/2024/?q=%3Cr_f%3E&go=Go" target="_blank">&lt;r_f&gt;</a><br>
    <a href="https://nutrimatic.org/2024/?q=%3Cr%28it%29s%28pi%29%3E&go=Go" target="_blank">&lt;r(it)s(pi)&gt;</a><br>
    <br>
    <p>___AA_ A_A__A</p>

    <h5> -- Keeping Things Classy -- </h5>
    <a href="https://nutrimatic.org/2024/?q=%5Bm-p%5D%5Baeiou%5D%7B2%7D%5Btuvw%5D%5Bdna%5D%7B3%7D&go=Go" target="_blank">[m-p][aeiou]{2}[tuvw][dna]{3}</a><br>
    <a href="https://nutrimatic.org/2024/?q=%22V%5Bq-z%5D%5Babcdefg%5DVCCC+V%5Bn-z%5D%22&go=Go" target="_blank">V[q-z][abcdefg]VCCC V[n-z]</a><br>
    <a href="https://nutrimatic.org/2024/?q=%5Bprance%5D%7B10%7D&go=Go" target="_blank">[prance]{10}</a><br>
    <br>
    <p>_AA__ ___A __ __A</p>

    <br><p>---</p><br>

    <h5> -- And For Dessert -- </h5>
    <p>_AA_ AA__</p>
</div>
{% endblock %}
