#the-front .item_img {
  width: 280px;
}

#the-front .map-container {
  height: 1200px;
  text-align: center;
  z-index: -10;
  background: url("./../images/r1/map.png") no-repeat center center;
  background-size: contain;
}

#the-front .map-puzzles-container {
  padding-top: 230px;
}
