{% extends "round.html" %}
{% load static %}
{% block html_class %}r1{% endblock %}

{% block round-body %}
<!-- Containing div, relative pos. allows absolute positioning of icons over base image -->
<div style="position:relative; width:100%" id="the-front">
	<div>
		<!-- Base map image -->
		<div class="map-container">
			<div class="map-puzzles-container">
				<!-- Individual puzzle map icons -->
				{% for puzzle in round.puzzles %}
				<div class="map_item {{ puzzle.puzzle.slug }}">
					<a href={% url 'puzzle' puzzle.puzzle.slug %}>
						<img class="item_img"
							src="{% static 'grand_front/images/r1/signs/'|add:puzzle.puzzle.slug|add:'.png' %}" />
					</a>
				</div>
				{% endfor %}
			</div>
		</div>
	</div>

</div>
{% endblock %}
